<%- include('./base'); %>
<form method="POST" class="form" action="/UploadImage" style="margin: 10%;" enctype="multipart/form-data">
    <div class="container-lg align-middle mx-auto" style="width: 18rem;">
        <div class="form-group m-3">
            <p class="h3 m-3">사진 업로드</p>
            <input type="file" class="form-control-file m-3" id="file" name="file">
            <button type="submit" class="btn btn-primary m-3">submit</button>
        </div>
    </div>
</form>

<script>

</script>